<footer class="site-footer">
    <div class="footer-container">
        <div class="logo-footer">
            <img src="{{ '/assets/images/logo1.png' | relative_url }}" alt="Logo Montassar">
        </div>
        
        <div class="social-links">
            <a href="https://twitter.com/" target="_blank" class="social-icon" aria-label="X (Twitter)">
                <i class="fa-brands fa-x-twitter"></i>
            </a>
            <a href="https://github.com/" target="_blank" class="social-icon" aria-label="GitHub">
                <i class="fa-brands fa-github"></i>
            </a>
            <a class="reddit" href="https://www.reddit.com/" target="_blank" class="social-icon" aria-label="Reddit">
                <i class="fa-brands fa-reddit"></i>
            </a>
        </div>

        <div class="text-footer">
            <p>© Moussa Montassar tout droit réservé</p>
        </div>
    </div>
</footer>
