<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/footer.css">
</head>
<body>
    <footer>
    <div class="logo-footer">
        <img src="{{ '/assets/images/logo1.png' | relative_url }}" height="100" width="100" alt="Logo Montassar">
    </div>
    <div class="border-nav"></div>
    <div class="text-footer">
        <p>© Moussa Montassar tout droit réservé</p>
    </div>
</footer>
</body>
</html>