<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }} - Moussa Montassar Portfolio</title>
    <link rel="stylesheet" href="../assets/css/default.css">
    <link rel="stylesheet" href="{{ '/assets/css/default.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/nav.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/footer.css' | relative_url }}">
</head>
<body>
    <header>
        {% include nav.html %} </header>

    <main>
        {{ content }} </main>

        <footer>
            {% include footer.html %} </footer>
            <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
</body>
</html>